/* whole document: */
body{
  font-size: 18px;
  text-shadow: none;
}
/* headers: */
h1,h2,h3,h4,h5,h6{
  font-size: 1.2em;
  line-height: 0;
}
/* titles should be negated */
h1.title {
  font-size: 0;
  line-height: 0;
}
/* small-caps text */
span.small {
  font-variant: small-caps;
}
/* unvisited link */
a:link {
  color: red;
}
/* visited link */
a:visited {
  color: red;
}
/* mouse over link */
a:hover {
  color: orange;
}
/* blockquotes */
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 1.05em;
    border: 0;
    border-left: 10px solid #eee;
}
/* navbar items */
.navbar .nav>li>a {
    font-size: 1.30em;
}
.navbar-default .navbar-brand {
    font-size: 1.00em;
}
/* horizontal rule */
hr {
    border-top: 1px solid #000000;
}
/* navigation tabs in tabset */
.nav>li>a {
    position: relative;
    display: block;
    padding: 12px 15px;
    color: #000000;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #A9A9A9;
    background-color: #990000;
}